menu "Socket Configuration"

    config SERVER_IP_ADDR
        string "Server IP"
        default "192.168.1.119"
        help
            The client will connect to this IPV4 address.

    config ROS_SOCKET_PORT
        int 2888
        range 0 65535
        default 2888
        help
            Port for tcp/udp socket communication

endmenu
