menu "Socket Configuration"

    config SERVER_IP_ADDR
        string "Server IP address"
        default "0.0.0.0"
        help
            The client will connect to this IPV4 address.

    config SOCKET_PORT
        int "Socket Port"
        range 0 65535
        default 3333
        help
            Port for tcp/udp socket communication

    config SOCKET_PROTOCOL
        string "Socket Protocol"
        default tcp
        help
            Select protocol (udp, tcp)


    config TX_QUEUE_SIZE
        int "tx queue size"
        default 32
        help
            set the max amount of messages to be stored in the tx_queue
endmenu
